body{
color: aliceblue;
}
  .Yo{
    text-decoration: underline;
  }
  .Gustos{
    text-decoration: underline;
   }
h1{
    color: aliceblue;
    font-size: 250%;
}
a{
  color: red;
  
}

body{
  background-image: url("./public/assets/fondo.jpg")
  }
  
  body{
    background-size: 2000px 980px;
  }
