body{
color: aliceblue;
}
  .Yo{
    text-decoration: underline;
  }
  .Gustos{
    text-decoration: underline;
   }
h1{
    color: aliceblue;
    font-size: 250%;
}

body{
  background-image: url(https://uhdwallpapers.org/uploads/converted/20/06/25/macos-big-sur-wwdc-1366x768_785884-mm-90.jpg)
  }

