body{
color: aliceblue;
}
  .Yo{
    text-decoration: underline;
  }
  .Gustos{
    text-decoration: underline;
   }
h1{
    color: aliceblue;
    font-size: 250%;
}

body{
  background-image: url("./public/assets/fondo.jpg")
  }
  body{
    background-size: 1600px 850px;
  }
